*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    padding: 5px 0px;
}
#menu ul{
    display: flex;
    flex-direction: row;
}
#social-icon ul{
    display: flex;
    flex-direction: row;
}
header ul li{
    list-style: none;
    margin: 10px;
}
#logo{
    margin: auto;
}
#logo a{
    font-size: 30px;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: normal
}
.main{
    display: flex;
    flex-direction: row;
}
#aside{
    flex: 0 0 20vw;
    padding: 10px;
    background-color: #cccccc;
}
#aside ul li{
    display: block;
    list-style: none;
    border-bottom: 1px solid black;
    padding: 10px 0px;
}
#aside a{
    display: block;
    text-decoration: none;
    color: red;
    font-weight: bold;
}
#article{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #e6e6e6;
}
#article h2{
    margin: 10px 0px;
}
.sub-container{
    display: flex;
    width: 100%;
    flex-direction:row;
    justify-content: space-between;
}
.service-box{
    /* border: 1px solid black; */
    background-color: #f2f2f2;
    flex-basis: 32.5%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* box-shadow: 4px 4px 12px black; */
    border: 1px solid black;
}
.service-box h3,p{
    margin-top: 10px;
}
.service-box a{
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    background-color: black;
    color: white;
    margin: 15px 0px;
    
}
.footer{
    background-color: black;
}
.footer h4{
    display: block;
    text-align: center;
    color: white;
    margin: 15px 0px;
}
.service-box:hover{
    border: 0px solid black;
    box-shadow: 4px 4px 12px black;
}
.service-box a:hover{
    color: red;
    box-shadow: 5px 5px 8px black;
}
#menu a:hover{
    color: red;
}
#social-icon a:hover{
    color: red;
}
#aside a:hover{
    text-shadow: 1px 1px 2px black;
}
@media screen and (max-width:600px){
    header{
        flex-direction: column;
    }
    #logo{
        order: -1;
    }
    .main{
        flex-direction: column;
    }
    .sub-container{
        flex-direction: column;
    }
    .service-box{
        margin-top: 15px;
    }
}